#title{
    background-color: rgb(119, 47, 187);
    color: white;
    padding: 5px;
    width: 28%;
}
#game{
    box-shadow: 0 0 10px gray;
    height: 244px;
    width: 28%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.boxes{
    border: 1px solid gray;
    width: 99%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.disable{
    cursor: not-allowed;
}
.x::before{
    content: 'X';
}
.o::after{
    content: 'O';
}