#title{
    padding: 1px;
    background-color: rgb(22, 22, 59);
    color: white;
}
#main{
    color: white;
    width: 35%;
    box-shadow: 0 0 10px grey;
    padding: 10px 10px 30px;
    height: 300px;
    background-color: rgb(50, 50, 114);
}
#userInput{
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
#time-score{
    display: flex;
    justify-content: space-around;
}

#word{
    color: rgb(43, 216, 52);
    font-size: 1.5rem;
}
#warn{
    color: rgb(255, 0, 0);
}